---
import "../styles/global.css";
import {Image} from 'astro:assets'
import produk from '../config/data_produk.js'
const{ whatsapp} = Astro.props
---

<section id="produk" class="py-20 bg-slate-50">
  <div class="max-w-7xl mx-auto px-6">
    <div class="text-center max-w-2xl mx-auto mb-16">
      <h3 class="text-3xl font-bold text-slate-900 mb-4">
        Koleksi Produk Unggulan
      </h3>
      <p class="text-slate-600 italic">
        "Kualitas legendaris dengan penawaran harga terbaik untuk kebutuhan
        retail maupun skala besar."
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Item Produk 1 -->

      {
        produk.map((item,i) => (

        <div
          class="bg-white rounded-2xl overflow-hidden shadow-sm hover:shadow-xl transition-all border border-slate-100 flex flex-col"
        >
          <div class="aspect-square bg-slate-200 relative group">
            <!-- Placeholder Gambar -->
        
          {
item.image && <Image src={item.image} alt={item.title} loading={'lazy'} class={'flex items-center aspect-square mx-auto  w-full justify-center text-slate-400'}/>
          }
             
            
            <!-- Badge Kualitas sebagai pengganti harga -->
          { item.best_seler && <div
              class="absolute top-4 left-4 bg-blue-600 text-white text-[10px] font-bold uppercase tracking-widest px-3 py-1 rounded-full"
            >
              Best Seller
            </div>}
          </div>
  
          <div class="p-6 flex-grow flex flex-col">
            <h4 class="text-xl font-bold text-slate-900">
             {item.title}
            </h4>
            <p class="text-sm text-slate-500 mt-2 flex-grow">
             {item.desc}
            </p>
  
            <div class="mt-6 pt-6 border-t border-slate-100">
              <!-- Info Status Harga -->
              <div class="flex items-center justify-between mb-4">
                <span
                  class="text-xs font-semibold text-slate-400 uppercase tracking-wider"
                  >Status Harga:</span
                >
                <span
                  class="text-xs font-bold text-blue-600 bg-blue-50 px-2 py-1 rounded"
                  >Hubungi Sales</span
                >
              </div>
  
              <!-- Tombol CTA Spesifik ke WhatsApp -->
              <a
                href={`https://wa.me/${whatsapp}?text=Halo%20Admin%20PT%20Legenda%20Inti%20Makmur,%20saya%20ingin%20tanya%20harga%20terbaru%20untuk${item.title}`}
                class="block w-full text-center bg-slate-900 text-white py-3 rounded-xl font-bold hover:bg-blue-600 transition-colors"
              >
                Cek Harga Terbaru
              </a>
            </div>
          </div>
        </div>
        ))
      }

      <!-- Tambahkan Item Produk lainnya dengan pola yang sama -->
    </div>
  </div>
</section>
